@page "/instructions"

<div><img src="amongus-icon.png" /><span class="display-2">Instructions</span><img src="amongus-icon.png" /></div>

<div class="border-info">
    <ol>
        <li>
            Add as many players as you need.
            <ol>
                You can use their real names - these are not shared and will never leave your device.
            </ol>
        </li>
        <li>Select how many impostors you want for your game.</li>
        <li>
            One player at a time:
            <ol>
                <li>Grab the device and tap/click on your name. Your role will be revealed.</li>
                <li>Tap/click again on your name. Your role will be hidden.</li>
            </ol>
        </li>
        <li>Pass the device to the next player.</li>
    </ol>
</div>

<div class="alert alert-danger">
    Each role is revealed once. If you try to reveal it again... That's cheating! :-)
</div>

<div class="alert alert-info">
    You can play again by hitting the <i>Again</i> button.
</div>

<p><a href="/play" class="btn btn-primary btn-block">Go play!</a></p>


